{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block page_css %}
    <link href="/static/vendor/chartjs/css/Chart.css" rel="stylesheet" crossorigin="anonymous">
{% endblock %}

{% block content %}
<h1>EnviroMon Dashboard</h1>

<div class="card-deck pb-4 mt-1">
    <div class="card">
        <h2 class="card-header">Device Load</h2>
        <div class="card-body">
            <canvas id="CPU-Chart"></canvas>
        </div>
    </div>
    <div class="card">
        <h2 class="card-header">Pressure</h2>
        <div class="card-body">
            <canvas id="pressure-Chart"></canvas>
        </div>
    </div>
</div>
<div class="card-deck pb-4">
    <div class="card">
        <h2 class="card-header">Temperature</h2>
        <div class="card-body">
            <canvas id="temperature-Chart"></canvas>
        </div>
    </div>

    <div class="card">
        <h2 id ="heading" class="card-header">Humidity</h2>
        <div class="card-body">
            <canvas id="humidity-Chart"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    <script  src="/static/vendor/chartjs/js/Chart.bundle.js"></script>
    <script  src="/static/js/device-load.js"></script>
    <script  src="/static/js/pressure.js"></script>
    <script  src="/static/js/temperature.js"></script>
    <script  src="/static/js/humidity.js"></script>

{% endblock %}